
@{
    ViewBag.Title = "ViewCards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewCards</h2>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @{
            var first = true;
        }
        @foreach (var item in ViewBag.Images)
        {
            <div class="carousel-item @(first?Html.Raw("active"):Html.Raw(""))">
                <p>@Convert.ToString(item)</p>
            </div>
            first = false;
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
       data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button"
       data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>