
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to DayLog!</h2>
<h4>Your personal, simple and minimalistic journal!</h4>

@* Redirect the user to add new card page *@
<button value="Let me add my first entry!"></button>
