
@{
    ViewBag.Title = "SendError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Send Error</h2>
<h4>Thank you for sending us the details about your problem!</h4>

<p>If we recognize the issue, we will be in touch soon.</p>

