
@{
    ViewBag.Title = "NewCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewCard</h2>

@* 1 Label "What have you been up to today?"" *@
@* 1 Pole tekstowe spore Span 80%  *@

@* Once completed *@

@* Label "Was it a good day?" *@

@* Switch(RadioButtonGroup) Yes/No (Yes by default) *@

@* Once completed *@

@* "Do you want to add some photos?" *@

@*Upload Button*@



